{% load humanize instagram_tags bootstrap5 %}


<div class="card">
    <div class="card-header">
        <img src="{{ post.author.avatar }}" style="width: 32px; height: 32px;">
        <a href="{% url "instagram:user_page" post.author.username %}">
            {{ post.author.name }}</a>

    </div>
    <div class="card-body">
        {% if post.photo %}
            <img src="{{ post.photo.url }}" style="width: 100%">
        {% else %}
            None
        {% endif %}

    <div class="mt-1 mb-1">
            {% if post|is_like_user:user %}
                <a href="{% url "instagram:post_unlike" post.pk %}" style="color: red;">
                    <i class="bi bi-heart-fill"></i>
                </a>
            {% else %}

                <a href="{% url "instagram:post_like" post.pk %}" style="color: red;">
                    <i class="bi bi-heart"></i>
                </a>

            {% endif %}
        </div>


        <div class="list-group">

            {% for comment in post.comment_set.all %}
                <div class="comment">

                    <strong>{{ comment.author }}</strong>
                    {{ comment.message }}
                    <small>{{ comment.create_dt|naturaltime }}</small>
                </div>

            {% endfor %}
        </div>



        <div class="mb-1">
            {% for tag in post.tag_set.all %}
                <span class="badge bg-primary">
                             #{{ tag.name }}
                            </span>
            {% endfor %}
        </div>

        <div>
            <a href="{{ post.get_absolute_url }}" style="" class="text-muted">
                <small>
                    {{ post.create_dt|naturaltime }}
                </small>
            </a>
        </div>
    </div>
    <div class="card-footer">


        <form action="{% url "instagram:comment_new" post.pk %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form comment_form %}

            <input type="submit" value="댓글 쓰기" class="btn btn-primary btn-block" />

        </form>



    </div>

</div>